<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="platform.jizhang.biu.service.persistence.mybatis.ConsumeRecordVOMapper" >
  <resultMap id="BaseResultMap" type="platform.jizhang.biu.service.model.ConsumeRecordVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="record_type" property="recordType" jdbcType="INTEGER" />
    <result column="consume_title" property="consumeTitle" jdbcType="VARCHAR" />
    <result column="consume_address" property="consumeAddress" jdbcType="VARCHAR" />
    <result column="consume_type" property="consumeType" jdbcType="INTEGER" />
    <result column="handler_type" property="handlerType" jdbcType="INTEGER" />
    <result column="pay_user_id" property="payUserId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="consmue_time" property="consmueTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="like" property="like" jdbcType="INTEGER" />
    <result column="handler_time" property="handlerTime" jdbcType="TIMESTAMP" />
    <result column="pic_address1" property="picAddress1" jdbcType="VARCHAR" />
    <result column="pic_address2" property="picAddress2" jdbcType="VARCHAR" />
    <result column="consume_desc" property="consumeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,record_type, consume_title, consume_address, consume_type, handler_type, pay_user_id, group_id, 
    price, consmue_time, status, like,handler_time, pic_address1, pic_address2, consume_desc
  </sql>
  
  <update id="updateRecordLike" parameterType="platform.jizhang.biu.service.model.ConsumeRecordVO">
  	update jz_consume_record
    set jz_consume_record.`like` = #{like,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jz_consume_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jz_consume_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="platform.jizhang.biu.service.model.ConsumeRecordVO" >
    insert into jz_consume_record (id, record_type,consume_title, consume_address, 
      consume_type, handler_type, pay_user_id, 
      group_id, price, consmue_time, 
      status,like, handler_time, pic_address1, 
      pic_address2, consume_desc)
    values (#{id,jdbcType=INTEGER},#{recordType,jdbcType=INTEGER}, #{consumeTitle,jdbcType=VARCHAR}, #{consumeAddress,jdbcType=VARCHAR}, 
      #{consumeType,jdbcType=INTEGER}, #{handlerType,jdbcType=INTEGER}, #{payUserId,jdbcType=INTEGER}, 
      #{groupId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{consmueTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER},  #{like,jdbcType=INTEGER},#{handlerTime,jdbcType=TIMESTAMP}, #{picAddress1,jdbcType=VARCHAR}, 
      #{picAddress2,jdbcType=VARCHAR}, #{consumeDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="platform.jizhang.biu.service.model.ConsumeRecordVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into jz_consume_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordType != null" >
        record_type,
      </if>
      <if test="consumeTitle != null" >
        consume_title,
      </if>
      <if test="consumeAddress != null" >
        consume_address,
      </if>
      <if test="consumeType != null" >
        consume_type,
      </if>
      <if test="handlerType != null" >
        handler_type,
      </if>
      <if test="payUserId != null" >
        pay_user_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="consmueTime != null" >
        consmue_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="like != null" >
        like,
      </if>
      <if test="handlerTime != null" >
        handler_time,
      </if>
      <if test="picAddress1 != null" >
        pic_address1,
      </if>
      <if test="picAddress2 != null" >
        pic_address2,
      </if>
      <if test="consumeDesc != null" >
        consume_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordType != null" >
        #{recordType,jdbcType=INTEGER},
      </if>
      <if test="consumeTitle != null" >
        #{consumeTitle,jdbcType=VARCHAR},
      </if>
      <if test="consumeAddress != null" >
        #{consumeAddress,jdbcType=VARCHAR},
      </if>
      <if test="consumeType != null" >
        #{consumeType,jdbcType=INTEGER},
      </if>
      <if test="handlerType != null" >
        #{handlerType,jdbcType=INTEGER},
      </if>
      <if test="payUserId != null" >
        #{payUserId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="consmueTime != null" >
        #{consmueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="like != null" >
        #{like,jdbcType=INTEGER},
      </if>
      <if test="handlerTime != null" >
        #{handlerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picAddress1 != null" >
        #{picAddress1,jdbcType=VARCHAR},
      </if>
      <if test="picAddress2 != null" >
        #{picAddress2,jdbcType=VARCHAR},
      </if>
      <if test="consumeDesc != null" >
        #{consumeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="platform.jizhang.biu.service.model.ConsumeRecordVO" >
    update jz_consume_record
    <set >
      <if test="recordType != null" >
        record_type = #{recordType,jdbcType=INTEGER},
      </if>
      <if test="consumeTitle != null" >
        consume_title = #{consumeTitle,jdbcType=VARCHAR},
      </if>
      <if test="consumeAddress != null" >
        consume_address = #{consumeAddress,jdbcType=VARCHAR},
      </if>
      <if test="consumeType != null" >
        consume_type = #{consumeType,jdbcType=INTEGER},
      </if>
      <if test="handlerType != null" >
        handler_type = #{handlerType,jdbcType=INTEGER},
      </if>
      <if test="payUserId != null" >
        pay_user_id = #{payUserId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="consmueTime != null" >
        consmue_time = #{consmueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="like != null" >
        like = #{like,jdbcType=INTEGER},
      </if>
      <if test="handlerTime != null" >
        handler_time = #{handlerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picAddress1 != null" >
        pic_address1 = #{picAddress1,jdbcType=VARCHAR},
      </if>
      <if test="picAddress2 != null" >
        pic_address2 = #{picAddress2,jdbcType=VARCHAR},
      </if>
      <if test="consumeDesc != null" >
        consume_desc = #{consumeDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="platform.jizhang.biu.service.model.ConsumeRecordVO" >
    update jz_consume_record
    set record_type	 = #{recordType	,jdbcType=INTEGER},
      consume_title = #{consumeTitle,jdbcType=VARCHAR},
      consume_address = #{consumeAddress,jdbcType=VARCHAR},
      consume_type = #{consumeType,jdbcType=INTEGER},
      handler_type = #{handlerType,jdbcType=INTEGER},
      pay_user_id = #{payUserId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      consmue_time = #{consmueTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      like = #{like,jdbcType=INTEGER},
      handler_time = #{handlerTime,jdbcType=TIMESTAMP},
      pic_address1 = #{picAddress1,jdbcType=VARCHAR},
      pic_address2 = #{picAddress2,jdbcType=VARCHAR},
      consume_desc = #{consumeDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>