<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="platform.jizhang.biu.service.persistence.mybatis.ConsumeTypeVOMapper" >
  <resultMap id="BaseResultMap" type="platform.jizhang.biu.service.model.ConsumeTypeVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="type_desc" property="typeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, number, type_desc
  </sql>
  
  <select id="queryTypes" parameterType="java.util.Map" resultType="java.util.Map">
  	select 
    <include refid="Base_Column_List" />
    from jz_consume_type
    <where>
    	<if test="consume_id != null">
    		and id = #{consume_id,jdbcType=INTEGER}
    	</if>
    </where> 
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jz_consume_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jz_consume_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="platform.jizhang.biu.service.model.ConsumeTypeVO" >
    insert into jz_consume_type (id, name, number, 
      type_desc)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{typeDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="platform.jizhang.biu.service.model.ConsumeTypeVO" >
    insert into jz_consume_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="typeDesc != null" >
        type_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="platform.jizhang.biu.service.model.ConsumeTypeVO" >
    update jz_consume_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null" >
        type_desc = #{typeDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="platform.jizhang.biu.service.model.ConsumeTypeVO" >
    update jz_consume_type
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      type_desc = #{typeDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>