<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="platform.jizhang.biu.service.persistence.mybatis.UserVOMapper" >
  <resultMap id="BaseResultMap" type="platform.jizhang.biu.service.model.UserVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="reg_type" property="regType" jdbcType="INTEGER" />
    <result column="identity_code" property="identityCode" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="user_desc" property="userDesc" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectUserInfo" parameterType="java.util.Map" resultType="java.util.Map">
	select
		u.*,ur.role_id
	from
		jz_user_role ur
	left join jz_user u ON ur.user_id = u.id
	where
		u.user_name = #{login_id,jdbcType=VARCHAR}
	and u.password =  #{passwd,jdbcType=VARCHAR}
  </select>
  
  <select id="selectUserByName" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(1) from jz_user where user_name = #{0}
  </select>
  
  <sql id="Base_Column_List" >
    id, user_name, nick_name, password, phone, email, reg_type, identity_code, reg_time, 
    user_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jz_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jz_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="platform.jizhang.biu.service.model.UserVO" >
    insert into jz_user (id, user_name, nick_name, 
      password, phone, email, 
      reg_type, identity_code, reg_time, 
      user_desc)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{regType,jdbcType=INTEGER}, #{identityCode,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, 
      #{userDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="platform.jizhang.biu.service.model.UserVO" >
    insert into jz_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="regType != null" >
        reg_type,
      </if>
      <if test="identityCode != null" >
        identity_code,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="userDesc != null" >
        user_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="regType != null" >
        #{regType,jdbcType=INTEGER},
      </if>
      <if test="identityCode != null" >
        #{identityCode,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userDesc != null" >
        #{userDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="platform.jizhang.biu.service.model.UserVO" >
    update jz_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="regType != null" >
        reg_type = #{regType,jdbcType=INTEGER},
      </if>
      <if test="identityCode != null" >
        identity_code = #{identityCode,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userDesc != null" >
        user_desc = #{userDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="platform.jizhang.biu.service.model.UserVO" >
    update jz_user
    set user_name = #{userName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      reg_type = #{regType,jdbcType=INTEGER},
      identity_code = #{identityCode,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      user_desc = #{userDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>